################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ruleset/obj
/Ruleset/bin
/Codebase/obj/x86/Debug
/Stats/.vs
/Stats/obj/Release
/Stats/bin/Release
/packages/Newtonsoft.Json.13.0.4
/Sounds/obj/Release
